#macOS files
.DS_Store
*.dSYM

# Binary files
*.o
*.a
*.so
*.dylib
raytracer
raytracer_tests

# Tests files
*.gcno
*.gcda
__pycache__/

# Log files
*.log

#IDEs
.vscode/
.idea/
*.code-workspace

# Build files
build/
cmake-build-debug*

# OBJ files
*.obj

# Image files
*.png
*.jpg
*.jpeg
*.bmp
!examples/
